@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  /* font variables */
  --font-family: "Quicksand", sans-serif;
  --light-font: 300;
  --normal-font: 400;
  --medium-font: 500;
  --semi-bold-font: 600;
  --bold-font: 700;
  --base-font-size: 1rem;
  --font-scale: 1.25;
  --h5: calc(var(--base-font-size) * var(--font-scale));
  --h4: calc(var(--h5) * var(--font-scale));
  --h3: calc(var(--h4) * var(--font-scale));
  --h2: calc(var(--h3) * var(--font-scale));
  --h1: calc(var(--h2) * var(--font-scale));

  /* color variables */
  --primary-color: #ef7674;

  /* theme variables */
  --dark-theme-bg: linear-gradient(135deg, #011529, #002642);
  --dark-theme-color: #e5dada;
  --light-theme-bg: #e5dada;
  --light-theme-color: #011529;
  --dark-theme-checkbox: url("images/white-unchecked.png");
  --light-theme-checkbox: url("images/unchecked.png");
  --theme-checkbox-checked: url("images/checked.png");
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--primary-color);
}

svg {
  color: #f05365;
  cursor: pointer;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  font-family: var(--font-family);
}

#app {
  max-width: 450px;
  min-height: 100vh;
  padding: 2rem;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.greetings .time {
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

form {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 30px;
  margin-top: 2rem;
}

input {
  flex: 1;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 30px 0 0 30px;
  outline: none;
  background: transparent;
  font-family: var(--font-family);
}

form button {
  padding: 1rem;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: whitesmoke;
  cursor: pointer;
  border-radius: 30px;
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  font-weight: var(--bold-font);
}

section {
  margin-top: 2rem;
}

#taskList li {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid var(--primary-color);
  position: relative;
}

#taskList li::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: var(--light-theme-checkbox);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

#taskList li.completed {
  color: var(--primary-color);
  text-decoration: line-through;
}

#taskList li.completed::before {
  background-image: var(--theme-checkbox-checked);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.delete-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
